<mat-toolbar color="primary">
    <mat-icon (click)="sidebarService.toggle()" class="menu">menu</mat-icon>
    <h1 style="margin-left: 8px;">Trollii</h1>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav
        [mode]="'over'"
        fixedTopGap="56"
        [(opened)]="sidebarService.opened"
        [fixedInViewport]="true">

        <app-sidebar></app-sidebar>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>