<div *ngIf="list">

  <mat-card>
    <mat-card-title>
      <mat-toolbar>
      {{ list.name }}
      
      <span class="spacer"></span>
      
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="inviteMembers()" *ngIf="list.isowner">
          <mat-icon>people</mat-icon>
          <span>Invite Members</span>
        </button>
        <button mat-menu-item (click)="removeList()" *ngIf="list.isowner">
          <mat-icon>delete</mat-icon>
          <span>Remove List</span>
        </button>
        <button mat-menu-item (click)="leaveList()" *ngIf="!list.isowner">
          <mat-icon>delete</mat-icon>
          <span>Leave List</span>
        </button>
      </mat-menu>
      
    </mat-toolbar>
    </mat-card-title>
    <mat-card-content fxLayout="row">
      <mat-form-field>
        <input #itemName matInput placeholder="Enter Item" (keyup.enter)="addItem(itemName.value); itemName.value=''; itemName.focus();">
      </mat-form-field>
      <div fxFlex ></div>
      <button mat-raised-button class="mat-accent" (click)="addItem(itemName.value); itemName.value=''; itemName.focus();"><mat-icon matListIcon>add</mat-icon> Add Item</button>
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
    
  <mat-card *ngFor="let item of list.items">
    <mat-card-content fxLayout="row" >
      <span class="name">{{ item.name }}</span>
      <div fxFlex ></div>
      <button mat-button (click)="removeItem(item)">Done</button>
    </mat-card-content>
  </mat-card>

</div>
