<div *ngIf="list">
  <mat-toolbar>
      {{ list.name }}
      
      <span class="spacer"></span>
      
      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="inviteMembers()" *ngIf="list.isowner">
          <mat-icon>people</mat-icon>
          <span>Invite Members</span>
        </button>
        <button mat-menu-item (click)="removeList()" *ngIf="list.isowner">
          <mat-icon>delete</mat-icon>
          <span>Remove List</span>
        </button>
        <button mat-menu-item (click)="leaveList()" *ngIf="!list.isowner">
          <mat-icon>delete</mat-icon>
          <span>Leave List</span>
        </button>
      </mat-menu>
      
    </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <form #formCtrl="ngForm" fxLayout="row" class="additem">
        <mat-form-field fxFlex>
          <input #itemNameId matInput placeholder="Enter Item" required [(ngModel)]="itemName" name="itemName">
        </mat-form-field>
        <div fxFlex="5%"></div>
        <div fxFlex="98px">
          <button mat-raised-button class="mat-accent"
                  (click)="addItem(itemName); itemName=''; itemNameId.focus();"
                  [disabled]="formCtrl.form.invalid">
            <mat-icon matListIcon>add</mat-icon> Add
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>
    
  <app-item
    *ngFor="let item of list.items"
    [listid]="list._id"
    [item]="item"
    (change)="listChange($event)"
  ></app-item>

  <mat-card *ngIf="!list.items.length">
    <mat-card-content>
      No items
    </mat-card-content>
  </mat-card>

</div>
